@import '../../../scss/global.scss';

.pagination-section{
    display: flex;
    direction: row;
    justify-content: space-between;
    select{
        width: 100px;
    }
    .navigation-section{
        display: flex;
        .button{
            border: 1px solid #eeeeee;
            padding: 10px;
            // background-color: grey;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}