@import '../../scss/global.scss';

.custom-button{
    cursor: pointer;
    padding: 12px 20px;
    border-radius: .25rem;
    font-size: 13px;
    box-shadow: none;
    // margin-bottom: 5px;
    // margin-right: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border-style: solid;
    // width: 207px;
    // text-transform: uppercase;
}
.custom-button.primary  {
    color:white;
    background-color:$prime-blue;
    border-color:$prime-blue;
    &:hover{
        color:#fff;
        background-color:#00205B;
        border-color:#00205B;
    }
}
.custom-button.secondary{
    color:$prime-blue;
    background-color:transparent;
    border: 1px solid $prime-blue;
    &:hover{
        color:#fff;
        background-color:$prime-blue;
        border-color:$prime-blue;
    }
}
.custom-button.success{

}
.custom-button.failure{

}
.custom-button.warning{
    color:#fff;
    background-color:#f4c22b;
    border-color:#f4c22b;
    &:hover{
        color:#fff;
        background-color:#ecb50c;
        border-color:#e0ab0c;
    }
}
.custom-button.info{
    color:#fff;
    background-color:#3ebfea;
    border-color:#3ebfea;
    &:hover{
        color:#fff;
        background-color:#1cb4e6;
        border-color:#18acdd;
    }
}
.custom-button.light{
    color:#37474f;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
    &:hover{
        color:#37474f;
        background-color:#dfdfdf;
        border-color:#d9d9d9;
    }
}
.custom-button.dark{
    color: #fff;
    background-color: $prime-black;
    border-color: $prime-black;
    &:hover{
        color: #fff;
        background-color: #273338;
        border-color: #222c31
    }
}
.custom-button.disabled{
    color: $grey1;
    background-color: $grey2;
    cursor: unset;
    // border-color: $prime-black;
}
