.phone-input-container{
    display: flex;
    position: relative;
    width: 80%;;
    select{
        position: absolute;
        width: 100px;
        top: 24px;
        background-color: transparent;
        border:none;
        border-right: 1px solid #c4c4c4;
    }
    label{
        width: 100%;
        input{
            width: 100%;
            padding-left:120px;
        }
    }
}