@import '../../../assets/scss/global.scss';

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    min-width: 500px;
    border: 0.5px solid $grey2;
    border-radius: 5px;
    padding: 1px 1px 1px 20px;
    svg{
        flex:1;
        stroke-width: 1px;
        text-align: left;
    }
    input{
        flex: 8;
        border: none;
        border-radius: 5px;
        margin: 0px;
        height: 100%;
        font-size: 15px;
    }
    .basic-select{
        position: relative;
        select{
            -webkit-appearance: none;
            -moz-appearance: none;
            flex: 4;
            padding: 10px 40px;
            box-sizing: border-box;
            border: none;
            background-color: $grey3;
            text-align: left;
            display: inline-block;
        }
    }
    .basic-select:after {
        /*content: "\25C0"; /* left arrow */
        /*content: "\25b6"; /* right arrow */
        /*content: "\25b2"; /* up arrow */
        content: "\25bc"; /* down arrow */
        position: absolute;
        right: 15px;
        top: 10px;
        display: inline-block;
        color: $black;font-stretch: expanded;
    }
    
}

