@import '../../../../scss/animations.scss';


.dropdown-builder-view, .dropdown-builder-view-active{
    height: 100px;
    cursor: pointer;
}

.dropdown-builder-view-active{
    padding: 17px 17px;
    background-color: #ececec;
    border-radius: 5px;
    margin: 1.5px 0px;
    label{
        font-size: 13px;
        font-weight: bolder;
    }
}
.dropdown-builder-view{
    padding: 15px 17px;
    background-color: white;
    border-radius: 5px;
    // border: 0.5px dashed #898989;
    margin: 2.5px 0px;
    label{
        font-size: 12px;
        font-weight: bolder;
        color:#898989;
    }
    &:hover{
        background-color: #c4c4c420;
        cursor: pointer;
    }
}