
$navbarwidth: 260px;
$navbarwidthMobile: 100vw;
$navbarwidthSD: 220px;

$navbarHeight: 120px;
$navbarHeightMobile: 80px;

// colors

$prime-black: #282828;
$prime-blue: #1749A5;
$prime-yellow: #ffcb04;
$white: #FFFFFF;
$black: #212121;
$alert: #CC001A;

//Grey shades - dark to light

$grey1: #898989; //For normal body content
$grey2: #D5D5D5; //For greyish tittle
$grey3: #ECECEC;; //For light greyish tittle
$grey4: #C4C4C4; //For light greyish tittle
$grey5: #D5D5D5; // For border
$grey6: #EEEEEE; //For light border, bg
$grey7: #F1F1F1; //For light greyish background


$red1:  #ee3a24;
$red2: #BE1E2D;


$prime-green: #2eceb0;
$gren1: #7ac142;
$green2: #11A861;
// fonts

$kabel: Kabel-Black;