.input-builder-view-active{
    padding: 17px 17px;
    background-color: #ececec;
    border-radius: 5px;
    margin: 1.5px 0px;
    label{
        font-size: 13px;
        font-weight: bolder;
    }
    .input{
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        color: #212121;
        font-size: 13px;
        font-weight: 500;
        padding: 15px 20px;
        font-size: 13;
        width: 80%;
        margin-top: 5px;;
    }
}
.input-builder-view{
    padding: 15px 17px;
    background-color: white;
    border-radius: 5px;
    // border: 0.5px dashed #898989;
    margin: 2.5px 0px;
    &:hover{
        background-color: #c4c4c420;
        cursor: pointer;
    }
    label{
        font-size: 12px;
        font-weight: bolder;
        color:#898989;
    }
    .input{
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        color:#898989;
        font-size: 12px;
        font-weight: 500;
        padding: 15px 20px;
        font-size: 13;
        width: 80%;
        margin-top: 5px;
        cursor: pointer;;
    }
}