.preview-container{
    .preview-button{
        position: absolute;
        right: 20px;
        top: 0px;
        width:unset;
        padding: 10px 30px;
        text-transform: unset;
        font-size: 13px;
    }
}