.input-container{
    font-size: 13px;
    font-weight: bolder;
    textarea{
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        color: #212121;
        font-size: 13px;
        font-weight: 500;
        padding: 15px 20px;
        font-size: 13;
        width: 80%;
        margin-top: 5px;;
    }
}